<footer class="site-footer footer-large  footer-light	footer-wide">
            
    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="text-center">
                <div class="footer-link">
                    <ul>
                        <li><a href="about-1.html" data-hover="About">About</a></li>
                        <li><a href="work-masonry.html" data-hover="Portfolio">Portfolio</a></li>
                        <li><a href="contact-1.html" data-hover="Contact Us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-4 col-md-4 col-sm-4">  
                    <div class="widget text-center getin-touch">
                        <h4 class="widget-title">Get In Touch</h4>
                        <div class="widget-section">
                            <ul>
                                <li>rsinteriors309@gmail.com</li>
                                <li>(+91) 709-3793-010</li>
                                <li>(+91) 986-6121-744</li>
                            </ul>
                        </div>
                    </div>
             
                </div> 

                <!-- TAGS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center widget_address m-b20">
                        <h4 class="widget-title">Address</h4>
                        <div class="widget-section">
                            <ul>
                                <li>Kavali, Andhra Pradesh</li>
                            </ul>
                        </div>
                        <div class="footer-social-icon">
                               <ul class="social-icons f-social-link">
                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                                        
                <!-- USEFUL LINKS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center">
                        <h4 class="widget-title">Studio</h4>
                        <div class="widget-section">
                            <ul>
                                <li><a href="about-1.html">Terms of Condition</a></li>
                                <li><a href="post-gallery.html">Privacy Policy</a></li>
                            </ul>
                        </div>                                
                    </div>                           
                </div>      

                <!-- NEWSLETTER -->

            </div>
            
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="wt-footer-bot-center">
                    <span class="copyrights-text">© 2020 RS Interiors. Designed By Team CWC</span>
                </div>
            </div>
        </div>
    </div>
</footer>